<div class="container">
    <h3 class="text-center">Movie List</h3>
    <div class="row">
      <div *ngFor="let movie of movies" class="col-md-4 col-sm-6 col-12 mb-4">
        <div class="card h-100 shadow">
          <img [src]="movie.image" class="card-img-top" alt="Movie Image">
          <div class="card-body">
            <h5 class="card-title">{{ movie.name }}</h5>
            <p class="card-text"><strong>Genre:</strong> {{ movie.genre }}</p>
            <p class="card-text"><strong>Director:</strong> {{ movie.director }}</p>
            <p class="card-text"><strong>IMDB Rating:</strong> ⭐ {{ movie.imdb }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  