<div class="card" style="width: 18rem;">
    <img src="http://localhost:8090/{{contact.image}}" 
    class="card-img-top" 
    alt="{{contact.name}}">
    <div class="card-body">
        <h5 class="card-title">{{contact.name}}</h5>
        <p class="card-text">
            <!-- <strong>moviename:</strong> {{contact.moviename}}<br> -->
            <strong>Genre:</strong> {{contact.genre}}<br>
            <strong>Rating:</strong> {{contact.rating}}<br>
            <strong>Review:</strong> {{contact.review}}<br>
            
            
        </p>
    </div>
</div>